@tailwind base;
@tailwind components;
@tailwind utilities;

.editor {
  @apply prose focus:outline-none text-gray-600 leading-none;
  /* @apply prose prose-sm sm:prose-base lg:prose-lg xl:prose-2xl focus:outline-none; */
}

ul[data-type='taskList'] {
  list-style: none;
  padding: 0;

  p {
    margin: 0;
  }

  li {
    display: flex;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type='taskList'] > li {
      display: flex;
    }
  }
}

.ProseMirror {
  a {
    @apply text-blue-400 font-normal;
  }

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

.dropzone-form {
  @apply p-5 mt-1 border border-dashed border-green-500;
}
